attrs==21.4.0
certifi==2022.9.24
charset-normalizer==2.1.1
click==7.1.2
commonmark==0.9.1
contourpy==1.0.6
cycler==0.11.0
docutils==0.17.1
fonttools==4.38.0
idna==3.4
iniconfig==1.1.1
kiwisolver==1.4.4
markdown-it-py==1.1.0
matplotlib==3.6.2
mdformat==0.7.16
mdformat_deflist==0.1.2
mdformat_frontmatter==0.4.1
mdformat_myst==0.1.5
mdformat_tables==0.4.1
mdit-py-plugins==0.3.1
numpy==1.23.5
packaging==21.3
pandas==1.5.2
parse==1.19.0
pepdocs==0.3.0
Pillow==9.3.0
pluggy==1.0.0
pyconfs==0.5.5
Pygments==2.13.0
pyparsing==3.0.9
pyplugs==0.4.0
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
requests==2.28.1
rich==12.6.0
rst-to-myst==0.3.2
ruamel.yaml==0.17.21
seaborn==0.12.1
six==1.16.0
toml==0.10.2
typer==0.7.0
urllib3==1.26.13

anytree~=2.8.0
plotly~=5.11.0